{
  "plugins": [
    [
      "module:@babel/plugin-transform-react-jsx",
      {
        "pragma": "Redraw.createElement",
        "pragmaFrag": "Fragment"
      }
    ]
  ],
  "presets": ["@babel/typescript", ["@babel/env", { "modules": false }]]
}
